@model IoTAssetManagement2.Models.Entities.Groups

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Groups</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentGroupId" class="control-label"></label>
                <input asp-for="ParentGroupId" class="form-control" />
                <span asp-validation-for="ParentGroupId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Devices" class="control-label"></label>
                <input asp-for="Devices" class="form-control" />
                <span asp-validation-for="Devices" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InverseParentGroup" class="control-label"></label>
                <input asp-for="InverseParentGroup" class="form-control" />
                <span asp-validation-for="InverseParentGroup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentGroup" class="control-label"></label>
                <input asp-for="ParentGroup" class="form-control" />
                <span asp-validation-for="ParentGroup" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">
                Create
            </button>

            <a asp-action="Index"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>
    </div>
</div>